body {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
}

.navbar {
    background-color: #fff;
    color: #34374C;
}

.thumbnails {
    width: 300px;
    height: 300px;
}

header.masthead {
    position: relative;
    background-color: #343a40;
    background: url("https://drive.google.com/uc?export=view&id=1N0FHwIcQijT94aEfLZY8NRtDSAFEUgbo") no-repeat center center;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

header.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.01;
}

header.masthead h1 {
    font-size: 2rem;
}

@media (min-width: 768px) {
    header.masthead {
        padding-top: 12rem;
        padding-bottom: 12rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}

div.masthead {
    position: relative;
    background-color: #343a40;
    background: url("https://drive.google.com/uc?export=view&id=1mpGulhg71VRzcLdwxUV2mBWJrWzPW7sT") no-repeat center center;
    background-size: cover;
    padding-top: 4rem;
    padding-bottom: 8rem;
    opacity: 1;
    border-radius:50px;
}

div.masthead .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.01;
}

div.masthead h1,
div.masthead h3, 
div.masthead h4 {
    /* font-size: 2rem; */
    text-shadow: -2px 2px black;
}

.showcase .showcase-text {
    padding: 3rem;
}

.showcase .showcase-img {
    min-height: 30rem;
    background-size: cover;
}

@media (min-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }
}

.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.icon {
    width: 40px;
    postion: relative;
}
.features-icons .features-icons-item {
    max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
    height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
    font-size: 5rem;
}

.testimonials {
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.testimonials .testimonial-item {
    max-width: 18rem;
}

.testimonials .testimonial-item img {
    max-width: 12rem;
    box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
    position: relative;
    background-color: #343a40;
    background: url("https://drive.google.com/uc?export=view&id=1N0FHwIcQijT94aEfLZY8NRtDSAFEUgbo") no-repeat center center;
    background-size: cover;
    padding-top: 7rem;
    padding-bottom: 7rem;
}

.call-to-action .overlay {
    position: absolute;
    background-color: #212529;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.3;
}

footer {
    position:relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
    color: "#5B95B3";
}

#map {
    height: 100%;
    margin: 0;
    padding: 0;
}

#yardpic {
    width: 100%;
}

.yardtext {
    margin-top: 50px;
    margin-left: 0;
    ;
}

.yard-card {
    margin: 30px;
}

.default {
    position:relative;
    /* width:100px; */
    bottom:0px;
    padding: 10px;
    background-color: #E9953d;
    border-radius: 50px;
    border-width:5px;  
    border-style:outset;
    border-color: #F6c16C;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.more-info {
    position:absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 20px;
    margin-right: 20px;
    border-radius: 50px;
    padding: 10px;
    background-color: #F6c16C;
    color: white;
    border-width:5px;  
    border-style:outset;
    border-color: #F6c16C;
    font-weight: bold;
    text-shadow: 1px 1px black;
}

.card {
    margin-top: 30px;
    border: none;
  }

.form-group {
    margin: 5px;
    padding: 5px;
}

h1.header {
    text-shadow: 1px 1px black;
}

.filter-card {
    /* text-align:center; */
    color: #00001d;
    text-decoration:none;
    margin: 30px;
}